
.page {
    color: lighten(#99999d, 15%);
    padding: 0 1.5em;

    @media (min-width: 900px) {
        width: 66.67%;
    }
}

.page .entry-title {
    color: white;
    font-size: 175%;
    font-weight: 100;
    line-height: 1.125;
    margin: 0 0 .75em;

    @media (min-width: 500px) {
        font-size: 225%;
    }
}
.page .entry-content {
    a {
        color: inherit;

        &:focus,
        &:hover,
        &:active {
            color: #cbb96c;
        }
    }
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
