/** Post */

.post {
    background: #ab6770;
    color: white;
    font-weight: 300;
    overflow-x: hidden;
    padding: 1em;
    position: relative;
}
.post:nth-of-type(4n + 1) {
    background: #475e83;
}
.post:nth-of-type(4n + 2) {
    background: #cbb96c;
}
.post:nth-of-type(4n + 3) {
    background: #3c4f69;
}

@media (min-width: 500px) {
    .post {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
                flex-direction: column;
        float: left;
        height: 16em;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        padding: 1.5em;
        width: 50%;
    }
    .post:nth-of-type(odd) {
        clear: left;
    }
}
@media (min-width: 900px) {
    .post {
        padding: 2em 1.5em;
        width: 33.33%;
    }
    .post:nth-of-type(odd) {
        clear: none;
    }
    .post:nth-of-type(3n + 1) {
        clear: left;
    }
}
@media (min-width: 1400px) {
    .post {
        padding: 2em;
    }
}

.post header,
.post .entry-summary,
.post footer {
    position: relative;
    z-index: 2;
}

.post header {
    margin: 0 0 .5em;
}
.post .entry-title {
    display: inline;
    font-size: 135%;
    font-weight: 100;
    line-height: 1.125;
    margin: 0;
}
@media (min-width: 500px) {
    .post .entry-title {
        font-size: 150%;
    }
}
.post .updated {
    display: inline;
    opacity: .5;
    transition: opacity 250ms;
    white-space: nowrap;
}
.post .updated:before {
    content: '–\0020';
    display: inline;
}

.post .entry-summary {
    margin: 0 0 .5em;
}
.post .entry-summary p {
    height: 4.2em;
    -webkit-mask: linear-gradient(black 66.67%, transparent 100%);
    margin: 0;
    opacity: .667;
}

.post footer {
    text-align: center;
}
.post a {
    border: thin solid;
    border-radius: 2em;
    color: inherit;
    display: inline-block;
    font-size: 87.5%;
    font-weight: 700;
    text-decoration: none;
    padding: .75em 1.25em;
    transition-duration: 250ms;
    transition-property: background, text-shadow;
}
.post a:focus,
.post a:hover,
.post a:active {
    background: #666;
    background: rgba(255, 255, 255, .1);
    text-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

/** No Touchie */

.no-touch .post:before {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, 0) 50%);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition-duration: 250ms;
    -webkit-transition-property: opacity, -webkit-transform;
            transition-property: opacity, transform;
}
.no-touch .post .entry-summary p {
    opacity: 0;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
    transition-duration: 250ms;
    -webkit-transition-property: opacity, -webkit-transform;
            transition-property: opacity, transform;
}

.no-touch .post:hover:before,
.no-touch .post:hover .updated {
    opacity: 1;
}
.no-touch .post:hover .entry-summary p {
    opacity: .667;
}
.no-touch .post:hover:before,
.no-touch .post:hover .entry-summary p {
    -webkit-transform: none;
            transform: none;
}
